@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row m-3">
        <h2 class="ml-10">Welcome to Care Car Insurance. Please click the link below to generate a quote!</h2>

        <br />

        <a class="page-link ml-10" href="~/Insuree/Create">Car Insurance Quotes</a>

    </div>
</div>